<% description "#{@team.name} is working hard to find everything on their scavenger hunt list: '#{@hunt.name}'." %>

<%= turbo_stream_from "submissions_#{@team.id}" %>
<%= turbo_stream_from @team %>

<%# Required to be on the page so the compiler will see it %>
<% tailwind_colors = [
  'bg-red-500',
  'bg-yellow-500',
  'bg-green-500',
  'bg-blue-500',
  'bg-indigo-500',
  'bg-purple-500',
  'bg-pink-500'
  ] %>

<% tailwind_grid_rows = [
  'grid-rows-1',
  'grid-rows-2',
  'grid-rows-3',
  'grid-rows-4',
  'grid-rows-5',
  'grid-rows-6',
]%>

<h1 class="font-serif my-4 text-center uppercase text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"><%= title @hunt.name %></h1>
<h2 class="font-sans my-4 text-center uppercase text-2xl font-bold text-gray-700 sm:text-2xl sm:tracking-tight lg:text-3xl"><%= @team.name %></h1>
<div class="grid grid-cols-2">
  <p class="m-4 text-lg sm:text-xl sm:tracking-tight lg:text-2xl text-gray-600">Find the following items to earn points for your team. Take a picture or video for evidence!</p>
  <p class="my-auto m-4 text-right text-xl sm:text-2xl sm:tracking-tight lg:text-3xl text-gray-700">Score: <%= render partial: 'score', locals: { team: @team } %></p>
</div>

<% rows_count = (@hunt.categories.size/2.0).round %>
<div class="grid grid-flow-col auto-cols-auto <%= "grid-rows-#{rows_count}" %> md:px-2 md:py-3">
  <% @hunt.categories.each_with_index do |category, i| %>
    <div class="<%= tailwind_colors[i % tailwind_colors.size] %> mb-4 text-gray-50 shadow overflow-hidden sm:rounded-lg md:mx-1">
      <div class="uppercase px-2 py-3 sm:px-3 grid grid-cols-2">
        <h3 class="text-xl font-medium sm:col-span-1">
          <%= category.name %>
        </h3>
        <p class="text-right max-w-2xl mt-1 text-md sm:col-span-1">
          <%= pluralize( category.points, 'point' ) %> each
        </p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
        <div class="flex flex-wrap">
          <% category.items.each do |item, i| %>
            <% submission = @submissions.find_by(item: item) || @team.submissions.new(item: item) %>
            <%= render partial: 'submissions/submission', locals: { submission: submission, animate: false } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
