<%= turbo_stream_from "hunts_chat_#{hunt.id}" %>

<div class="mb-8 h-5/6">
  <div id="hunt_chat_<%= hunt.id %>" class="chat-container max-h-96 overflow-y-scroll mb-4">
    <%= render hunt.messages %>
  </div>
  <%= form_for Message.new(hunt: hunt), url: hunt_messages_path(hunt.code.upcase), method: :post do |f| %>
    <div class="join">
      <%= f.text_field :content, class: "input input-bordered w-full max-w-xs" %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
