<%= form_with model: hunt, url: hunts_path, method: :post, class: 'space-y-8', data: { controller: 'form' } do |f| %>
  <div class="space-y-8 sm:space-y-5">
    <%= f.hidden_field :template, value: @hunt.name %>
    <%= f.hidden_field :timezone, data: { 'form-target': 'timezone' } %>
    <div>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <%= f.label :name, class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= f.text_field :name, class: 'max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md' %>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <%= f.label :starts_at, class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= f.text_field :starts_at, class: 'datetime max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md' %>
            <p class="mt-2 text-sm text-gray-500">Don't allow participants to submit photos until this date and time.</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <%= f.label :ends_at, class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= f.text_field :ends_at, class: 'datetime max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md' %>
            <p class="mt-2 text-sm text-gray-500">Stop accepting submissions at this time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to 'Cancel', root_path, class: 'cursor-pointer bg-white py-3 px-5 border border-gray-300 rounded-md shadow-sm text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      <%= f.submit "Get started!", class: 'cursor-pointer ml-3 inline-flex justify-center px-5 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
    </div>
  </div>
<% end %>
