<%# Required to be on the page so the compiler will see it %>
<% tailwind_colors = [
     'bg-primary print:border-primary text-primary-content',
     'bg-secondary print:border-secondary text-secondary-content',
     'bg-accent print:border-accent  text-accent-content',
     'bg-neutral print:border-neutral text-neutral-content'
   ] %>

<% tailwind_divider_colors = [
  'before:bg-primary-content after:bg-primary-content',
  'before:bg-secondary-content after:bg-secondary-content',
  'before:bg-accent-content after:bg-accent-content',
  'before:bg-neutral-content after:bg-neutral-content'
] %>

<% unless local_assigns[:results] %>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 place-items-center pb-4">
    <p class="ml-2 text-center sm:text-start">Find the following items to earn points for your team. Take a picture or video for evidence!</p>
    <% if @team %>
      <p class="text-bold text-2xl">Score: <%= render partial: 'score', locals: { team: @team } %></p>
    <% end %>
    <div class="<%= 'hidden' if !local_assigns[:print] %> <%= 'print:block' unless @team %> grid grid-cols-1">
      <div class="flex justify-end m-4 h-24 qr-code">
        <% qrcode = RQRCode::QRCode.new(hunt_url(@hunt.code.upcase)) %>
        <svg>
          <%= qrcode.as_svg(
                fill: 'fff',
                viewbox: true
              ).html_safe %>
        </svg>
      </div>
      <p>Code: <%= @hunt.code.upcase %></p>
    </div>
  </div>
<% end %>

<div data-controller="hunt">
  <div class="grid grid-flow-row grid-cols-1 gap-2 <%= @hunt.categories.size < 2 ? 'md:grid-cols-1 print:grid-cols-1' : 'md:grid-cols-2 print:grid-cols-2' %> md:px-2 md:py-3">
    <% @hunt.categories.each_with_index do |category, i| %>
      <div class="card w-96 <%= tailwind_colors[i % tailwind_colors.size] %>">
        <div class="card-body">
          <h2 class="card-title uppercase flex justify-between">
            <%= category.name %>
            <span class="text-sm text-right"><%= pluralize(category.points, 'point') %> each</span>
          </h2>
          <div class="divider m-0 <%= tailwind_divider_colors[i % tailwind_divider_colors.size] %>"></div>
          <div class="flex flex-wrap">
            <% category.items.each do |item, i| %>
              <% if local_assigns[:results] %>
                <%= render partial: 'submissions/result_submission', locals: { item: } %>
              <% else %>
                <% submission = @submissions&.find_by(item:) || item.submissions.new %>
                <%= render partial: 'submissions/submission', locals: { submission:, animate: false } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render partial: 'submissions/modal' %>
</div>
