<%= turbo_stream_from "hunt_presenter_#{@hunt.id}" %>

<div class="flex flex-col sm:flex-row items-center">
  <div class="flex flex-col items-center w-full sm:w-10/12 h-1/2 min-h-[75vh] sm:h-[90vh]">
    <div class="carousel w-full h-1/2 min-h-[70vh] sm:h-[85vh]">
      <%= render(partial: "submissions/submission_presenter", locals: { submission: @submission }) %>
    </div>
    <% if @hunt.owner?(cookies[:user_id]) %>
      <div class="join">
        <%= link_to(hunt_presenter_path(@hunt.code.upcase, submission_id: @previous_submission.id), class: "join-item btn") do %>
          «
        <% end %>
        <button class="join-item btn"><%= @submission.item.name %></button>
        <%= link_to(hunt_presenter_path(@hunt.code.upcase, submission_id: @next_submission.id), class: "join-item btn") do %>
          »
        <% end %>
      </div>
    <% else %>
      <div class="join">
        <button class="join-item btn"><%= @submission.item.name %></button>
      </div>
    <% end %>

    <% if @hunt.owner_id.blank? %>
      <%= link_to(hunt_presenter_path(@hunt.code.upcase, become_presenter: true), class: "btn btn-link btn-xs") do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
        </svg>
        Click here to control the presentation
      <% end %>
    <% end %>
  </div>

  <div class="w-full sm:w-2/12 h-[90vh]">
    <%= render partial: "hunts/chat", locals: { hunt: @hunt } %>
  </div>
</div>
