<% description "Results for the scavenger hunt #{@hunt.name}." %>
<% title "#{@hunt.name} Results" %>

<%= render(PageHeaderComponent.new(title: "#{@hunt.name} Results", subtitle: "Let's see how everyone did!")) %>

<% if @hunt.results_locked? %>
  <%= render partial: 'locked_results', locals: { hunt: @hunt } %>
<% else %>
  <div class="grid grid-cols-1 place-items-end">
    <%= render partial: 'download_button' %>
  </div>

  <%= render(partial: 'hunts/leaderboard', locals: { results: @results }) %>
  <%= render(partial: 'hunts/hunt', locals: { results: true }) %>
<% end %>
