<% description "Get ready to start #{@hunt.name}. Join a team or start your own and get going!" %>
<% title @hunt.name %>

<%= render(partial: "timer", locals: { hunt: @hunt }) if @hunt.timer? %>
<%= render(PageHeaderComponent.new(
  title: @hunt.name,
  subtitle: "Let's get started on your scavenger hunt by joining or starting a team!"))
%>

<div class="sm:w-1/2 mx-auto">
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 place-items-center">
    <p class="text-center">
      Party Code: <strong><%= @hunt.code.upcase %></strong>
    </p>
    <% qrcode = RQRCode::QRCode.new(hunt_url(@hunt.code.upcase)) %>
    <svg class="h-24">
      <%= qrcode.as_svg(
            fill: 'fff',
            viewbox: true
          ).html_safe %>
    </svg>
    <%= link_to hunt_print_path(@hunt.code.upcase), target: '_blank', class: 'btn btn-ghost', rel: 'noopener' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
      </svg>
      Print List
    <% end %>
  </div>

  <%= form_with url: hunt_teams_path(@hunt.code), method: :post, class: "px-6", data: { controller: 'past-hunts', 'past-hunts-code-value': @hunt.code, 'past-hunts-name-value': @hunt.name } do |f| %>
    <p class="uppercase">Pick a team</p>
    <% @hunt.teams.find_each do |team| %>
      <div class="form-control">
        <%= f.label :team_id, value: team.id, class: "label cursor-pointer" do %>
          <span class="label-text"><%= team.name %></span>
          <%= f.radio_button :team_id, team.id, class: "radio" %>
        <% end %>
      </div>
    <% end %>
    <div class="form-control w-full">
      <%= f.label :name, class: "label" do %>
        <span class="label-text">Start a team</span>
      <% end %>
      <%= f.text_field :name, class: "input input-bordered w-full" %>
    </div>

    <div class="flex mt-4">
      <%= f.button type: :submit, class: "btn btn-primary" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
        </svg>
        Start!
      <% end %>
      <%= link_to hunt_results_path(@hunt.code), class: "btn btn-secondary ml-2" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0" />
        </svg>
        View Results!
      <% end %>
    </div>
  <% end %>
</div>
