<h1 class="my-4 text-center uppercase text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Scavenger Hunt Party!</h1>
<p class="m-4 text-center text-lg sm:text-xl sm:tracking-tight lg:text-2xl text-gray-800">Let's get started on your photo scavenger hunt by starting one or join a hunt that has already been started!</p>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:p-6 bg-pantone-50">
      <p class="flex justify-center items-center gap-2 text-center uppercase text-lg sm:text-xl sm:tracking-tight lg:text-2xl text-gray-800">
        <ion-icon name="sparkles-outline"></ion-icon> <span>Join</span>
      </p>
    </div>
    <div class="px-4 py-4 sm:px-6">
      <%= form_with url: root_path, method: :get, class: 'sm:flex md:flex-col space-y-4' do |form| %>
        <div class="min-w-0 w-full flex-1">
          <%= form.label :code, 'Enter your scavenger hunt code to join an already made scavenger hunt!', class: 'block text-base font-medium text-gray-500' %>

          <div class="mt-1.5 relative">
            <%= form.text_field :code,
                                value: params[:code],
                                class: 'appearance-none block w-full bg-none bg-white border border-gray-300 rounded-md pl-3 pr-10 py-2 text-base text-gray-900 focus:outline-none focus:ring-pantone-500 focus:border-pantone-500 sm:text-sm',
                                required: true,
                                oninput: 'this.value = this.value.toUpperCase()',
                                maxlength: 5 %>
          </div>
        </div>
        <div class="mt-4 sm:mt-0 w-full">
          <%= form.submit 'Let\'s go!', class: 'cursor-pointer block w-full rounded-md border border-transparent px-5 py-3 bg-pantone-400 text-base font-medium text-white shadow hover:bg-pantone-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-pantone-600 sm:px-10' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="bg-white overflow-hidden shadow rounded-lg relative">
    <div class="px-4 py-5 sm:p-6 border-b border-gray-200 bg-pantone-50">
      <p class="flex justify-center items-center gap-2 text-center uppercase text-lg sm:text-xl sm:tracking-tight lg:text-2xl text-gray-800">
        <ion-icon name="rocket-outline"></ion-icon> <span>Start</span>
      </p>
    </div>
    <div class="px-4 py-4 sm:px-6 sm:absolute sm:inset-x-0 sm:bottom-0">
      <%= link_to 'Browse our premade scavenger hunts to get started!', hunts_path, class: 'text-center cursor-pointer block w-full rounded-md border border-transparent px-5 py-3 bg-pantone-400 text-base font-medium text-white shadow hover:bg-pantone-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-pantone-600 sm:px-10' %>
    </div>
  </div>

  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200" data-controller="past-hunts" data-past-hunts-target="container">
    <div class="px-4 py-5 sm:p-6 bg-pantone-50">
      <p class="flex justify-center items-center gap-2 text-center uppercase text-lg sm:text-xl sm:tracking-tight lg:text-2xl text-gray-800">
        <ion-icon name="ribbon-outline"></ion-icon> <span>Rejoin</span>
      </p>
    </div>
    <div class="px-4 py-4 sm:px-6">
      <%= form_with url: root_path,
                    method: :get,
                    class: 'sm:flex md:flex-col space-y-4' do |form| %>
        <div class="min-w-0 w-full flex-1">
          <%= form.label :code, 'Rejoin a scavenger hunt you participated in!', class: 'block text-base font-medium text-gray-500' %>
          <div class="mt-1.5 relative">
            <%= form.select :code,
                            [],
                            { include_blank: 'Select a scavenger hunt' },
                            {
                              class: 'block max-w-lg w-full shadow-sm focus:ring-pantone-500 focus:border-pantone-500 sm:text-sm border-gray-300 rounded-md',
                              data: { 'past-hunts-target': 'list' }
                            } %>
          </div>
        </div>
        <div class="mt-4 sm:mt-0 w-full">
          <%= form.submit 'Rejoin the scavenger hunt!', class: 'cursor-pointer block w-full rounded-md border border-transparent px-5 py-3 bg-pantone-400 text-base font-medium text-white shadow hover:bg-pantone-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-pantone-600 sm:px-10' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="py-8 my-4 bg-white">
  <h2 class="mb-8 text-center uppercase text-3xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-5xl">How does it work?</h2>
  <div class="mx-auto max-w-xl px-6 lg:max-w-7xl lg:px-8">
    <dl class="grid grid-cols-1 gap-16 lg:grid lg:grid-cols-3">
      <div>
        <dt>
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-white to-pantone-200 text-gray-800">
            <ion-icon name="rocket-outline" class="h-6 w-6"></ion-icon>
          </div>
          <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Choose a premade scavenger hunt</p>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Pick from our list of premade scavenger hunts. There are hunts for every location or occasion. Disneyland, camping, holiday lights, and even looking around the airport. Select your scavenger hunt to get started.</dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-white to-pantone-200 text-gray-800">
            <ion-icon name="sparkles-outline" class="h-6 w-6"></ion-icon>
          </div>
          <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Share</p>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Share the scavenger hunt with others so they can join you. Either share the direct link, QR code, or the join code found on the scavenger hunt page for them to play along with you.</dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-white to-pantone-200 text-gray-800">
            <ion-icon name="people-outline" class="h-6 w-6"></ion-icon>
          </div>
          <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Create teams</p>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Create a team for you and your friends to join. Teams can be just for one person or as many as you'd like. Teams allow team members to work on the same scavenger hunt list simultaneously. If one member finds something it will cross it off for everyone else on that team.</dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-white to-pantone-200 text-gray-800">
            <ion-icon name="camera-outline" class="h-6 w-6"></ion-icon>
          </div>
          <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Go hunt!</p>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Find the items on the list and take pictures or videos along the way. You can set the scavenger hunt to have a start timer to not let anyone get a head start and an end timer to make sure no one is still searching after a specific time.</dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-white to-pantone-200 text-gray-800">
            <ion-icon name="star-outline" class="h-6 w-6"></ion-icon>
          </div>
          <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">View the results</p>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">After you're done you can see which team found the most items on the list and which team had the highest score. You can even look at each team's submissions were to enjoy what they found.</dd>
      </div>

      <div>
        <dt>
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-white to-pantone-200 text-gray-800">
            <ion-icon name="infinite-outline" class="h-6 w-6"></ion-icon>
          </div>
          <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Play again</p>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Try all our different premade scavenger hunts. Play with friends nearby or remotely. Play with family, friends, or coworkers. Throw a Scavenger Hunt Party!</dd>
      </div>
    </dl>
  </div>
</div>
