<% description "#{@item.name} was found #{pluralize(@submissions.size, 'times')} during #{@hunt.name}." %>

<%= render(PageHeaderComponent.new(title: @hunt.name)) %>

<div class="grid grid-cols-3 gap-2 mx-auto my-4 font-sans text-center uppercase font-bold">
  <%= link_to hunt_item_path(@hunt.code, @previous), class: "btn btn-ghost my-auto text-ellipsis" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
    <span class="hidden sm:block"><%= @previous.name %></span>
  <% end %>
  <h2 class="text-2xl sm:text-2xl sm:tracking-tight lg:text-3xl"><%= title @item.name %></h2>
  <%= link_to hunt_item_path(@hunt.code, @next), class: "btn btn-ghost my-auto text-ellipsis" do %>
    <span class="hidden sm:block"><%= @next.name %></span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>
  <% end %>
</div>

<% if @submissions.empty? %>
  <div class="container grid grid-cols-1 gap-2 mx-auto">
    <h3 class="text-2xl sm:text-2xl sm:tracking-tight lg:text-3xl text-center">Huh, I guess nobody found this one.</h2>
    <div class="w-2/4 mx-auto rounded shadow-xl animate__animated animate__fadeIn">
      <%= image_tag 'nothing.png' %>
    </div>
  </div>
<% else %>
  <div data-controller="hunt" data-action="keydown.esc->hunt#closeModal" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
    <% @submissions.each_with_index do |submission, i| %>
      <%= render(CardComponent.new()) do %>
        <% image_url = submission_attachment_url(submission, variant_size: :large) %>
        <figure>
          <% if submission.video? %>
            <%= video_tag(image_url, controls: true) %>
          <% else %>
            <%= image_tag(image_url) %>
          <% end %>
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            <span
              data-action="click->hunt#openModal"
              data-title="<%= submission.team.name %>"
              data-src="<%= submission_attachment_url(submission, variant_size: :large) %>"
              data-video="<%= submission.video? %>"
              data-object="<%= object_id %>"
              class="cursor-pointer">
              <%= submission.team.name %>
            </span>
          </h2>
        </div>
      <% end %>
    <% end %>

    <%= render partial: 'submissions/modal', locals: { fullscreen: true } %>
  </div>
<% end %>
