<h1 class="font-serif my-4 text-center uppercase text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"><%= @hunt.name %></h1>
<div class="grid grid-cols-3 gap-2 mx-auto my-4 font-sans text-center uppercase font-bold text-gray-700">
  <div class="text-lg sm:text-lg sm:tracking-tight lg:text-xl my-auto truncate">
    <%= link_to hunt_item_path(@hunt.code, @previous) do %>
      <ion-icon name="chevron-back-outline"></ion-icon> <%= @previous.name %>
    <% end %>
  </div>
  <h2 class="text-2xl sm:text-2xl sm:tracking-tight lg:text-3xl"><%= @item.name %></h2>
  <div class="text-lg sm:text-lg sm:tracking-tight lg:text-xl my-auto truncate">
    <%= link_to hunt_item_path(@hunt.code, @next) do %>
      <%= @next.name %> <ion-icon name="chevron-forward-outline"></ion-icon>
    <% end %>
  </div>
</div>

<% if @submissions.empty? %>
  <div class="container grid grid-cols-1 gap-2 mx-auto">
    <h3 class="text-2xl sm:text-2xl sm:tracking-tight lg:text-3xl text-center">Huh, I guess nobody found this one.</h2>
    <div class="w-2/4 mx-auto rounded shadow-xl animate__animated animate__fadeIn">
      <%= image_tag 'nothing.png' %>
    </div>
  </div>
<% else%>
  <div class="container grid grid-cols-3 gap-2 mx-auto">
    <% @submissions.each_with_index do |submission, i| %>
      <div class="w-full rounded shadow-xl animate__animated animate__fadeIn <%= "animate__delay-#{i}s" %>">
        <div>
          <%= image_tag(url_for(submission.photo)) %>
        </div>
        <p class="text-lg text-gray-500 text-center my-4"><%= submission.team.name %></p>
      </div>
    <% end %>
  </div>
<% end %>
