<!DOCTYPE html>
<html>
  <head>
    <title>Scavenger Hunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= render partial: 'shared/animate' %>
  </head>

  <body>
    <%= render partial: 'shared/flash' %>
    <%= yield %>
    <%= render partial: 'shared/ion_icons' %>
  </body>
</html>
