<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(
          site: 'Scavenger Hunt Party!',
          og: {
            image: image_url('logo.png')
          }
        ) %>
    <% keywords 'Photo Scavenger Hunt, Scavenger Hunt' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render partial: 'shared/head' %>
  </head>

  <body class="mb-8 bg-teal-50">
    <%= render partial: 'shared/nav' %>
    <%= render partial: 'shared/flash' %>
    <div id="content" class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </body>
</html>
