<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(
        site: 'Scavenger Hunt Party!',
        og: {
          image: image_url('logo.png')
        }
      )
    %>
    <% keywords 'Photo Scavenger Hunt, Scavenger Hunt' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= render partial: 'shared/animate' %>
    <%= render partial: 'shared/ion_icons' %>
  </head>

  <body>
    <%= render partial: 'shared/flash' %>
    <%= yield %>
  </body>
</html>
